/* large desktop */
@media only screen and (min-device-width: 1440px) {
    #section0 {
        background: url("images/earth3_darker1_w3000_h1997.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }
    
    #section1 {
        background: url("images/space1_darker1_w3000_h1997.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }
    
    #section2 {
        background: url("images/earth2_darker1_w2600_h1548.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }
    
    #section3 {
        background: url("images/earth3_darker1_w3000_h1997.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
    }
    
    #mainTitle {
        top: 0;
        padding-top: 20vh;
        width: 50%;
        margin-left: 25%;
    }

    #introText {
        width: 60%;
        margin-left: 20%;
        position: relative;
        top: 5%;
        text-shadow: 0px 0px 5px black;
    }

    #arrowDown {
        width: 6vw;
        bottom: 1vh;
        left: 47vw;
    }

    #map, #news, .flexContainer {
        position: relative;
        width: 80%;
        height: 75%;
        top: 15%;
        left: 10%;
    }

    .flexContainer {
        flex-direction: row;
        justify-content: center;
    }

    #images, #music {
        margin: 0 1%;
    }

    h2 {
        width: 40%;
        margin-left: 5%;
    }

    #zoom {
        position: relative;
        height: 50px;
        top: 2%;
        bottom: 50px;
    }
}