/* tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    html {
        overflow-x: hidden;
    }

    #section0 {
        background: url("images/earth3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }
    
    #section1 {
        background: url("images/space1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }
    
    #section2 {
        background: url("images/earth1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }
    
    #section3 {
        background: url("images/earth2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
    }

    #mainTitle {
        top: 0;
        padding-top: 15vh;
        width: 50%;
        margin-left: 25%;
    }

    #introText {
        width: 60%;
        margin-left: 20%;
        top: 5%;
    }

    #arrowDown {
        width: 10vw;
        bottom: 1vh;
        left: 45vw;
    }

    #map, #news, .flexContainer {
        position: relative;
        width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;
    }

    .flexContainer {
        flex-direction: column;
        justify-content: center;
    }

    #images, #music {
        margin: 1% 0;
    }

    h2 {
        width: 100%;
    }
}