/* In deze stylesheet staat de opmaak voor de menubalk en voor de footer. De footer hoort niet bij de menubalk maar de menubalk en de footer opmaak zijn van toepassing op elke pagina dus heb ik ze in één stylesheet gezet voor het gemak. */

#navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000;
}

#navbar a {
    color: white;
    float: left;
    text-align: center;
    padding: 15px 35px;
    text-decoration: none;
    font-size: 17px;
}


#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#spacexLogo {
    height: 17px;
    position: fixed;
    padding: 17px;
    margin-left: 20px;
    z-index: 2000;
}

footer {
    display: block;
    width: 100%;
    min-height: 50px;
}

#spacexWebsite {
    position: fixed;
    font-size: 10px;
    float: right;
    right: 30px;
    bottom: 15px;
    text-decoration: none;
}

#spacexWebsite:hover {
    text-shadow: 0px 0px 5px black;
}

footer p {
    position: absolute;
    display: block;
    text-align: center;
    width: 50%;
    left: 25%;
    font-size: 13px;
    padding-top: 45px;
    padding-bottom: 15px;
    margin-top: -25px;
}

a[href*="mailto"] {
    font-weight: 500;
    text-decoration: none;
}

a[href*="mailto"]:hover {
    text-decoration: underline;
}

.myWebsite {
    position: relative;
    font-size: 10px;
    float: left;
    left: 30px;
    top: 25px;
    text-decoration: none;
}

.myWebsite a {
    text-decoration: none;
}

.myWebsite a:hover {
    text-shadow: 0px 0px 5px white;
}



@media only screen and (max-device-width: 767px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3){
    #navbar, #navbar a {
        display: none; 
    }

    #mobileNavbar {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.87);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        z-index: 500;
    }

    #mobileNavbar a {
        color: white;
        float: below;
        text-align: left;
        padding: 15px 35px;
        display: block;
        width: 100%;
        text-decoration: none;
    }

    #home {
        margin-top: 50px;
    }

    #spacexLogo {
        margin-top: 10px;
    }

    .iconContainer {
        display: inline-block;
        cursor: pointer;
        position: fixed;
        right: 40px;
        top: 22px;
        z-index: 1000;
    }
      
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }
      
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
}

@media only screen and (min-device-width : 768px) {
    #navbar, #navbar a {
        display: block;
    }

    #mobileNavbar, #mobileNavbar a {
        display: none;
    }
    
    #home {
        margin-left: 180px;
    }
}