#news {
    overflow-y: scroll;
    overflow-x: hidden;
}

.options {
    position: absolute;
    display: grid;
    z-index: 100;
}

.buttonOptions, #submitSearch {
    background-color: #b44f2d;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.buttonOptions:hover, #submitSearch:hover {
    background-color: #9c4427;
}

.active {
    background-color: #002e63 !important;
    color: white;
}
.active:hover {
    background-color: #191f45 !important;
}

#buttonArticles {
    grid-column: 1;
    grid-row: 1;
}

#buttonBlogs {
    grid-column: 2;
    grid-row: 1;
}

#buttonReports {
    grid-column: 3;
    grid-row: 1;
}

/*#searchArticles {
    grid-column: 5;
    grid-row: 1;
    border-radius: 10px;
}

#submitSearch {
    grid-column: 6;
    grid-row: 1;
}*/

.newsArticle {
    position: relative;
    display: grid;                                  /* Deze regel zorgt dat het een CSS grid is. */ 
    background-color: rgba(0, 46, 99, 0.3);
    box-sizing: border-box;
}

.newsArticle:nth-of-type(even) {
    background-color: rgba(156, 68, 39, 0.3);
}

/*.imageContainer {
    align-self: center;
    justify-self: end;
    overflow: hidden;
    max-height: 200px;
}
.articleImage {
    max-width: 200px;
    width: 100%;
}

.headerContainer {
    align-self: start;
}
.articleTitle {
    position: absolute;
    max-width: 600px;
    margin-top: 10px;
    margin-left: 5px;
}

.dateContainer {
    align-self: start;
}
.publicationDate {
    text-align: right;
    margin-right: 20px;
    margin-top: 10px;
}

.textContainer {
    align-self: start;
}
.summary {
    margin-left: 5px;
    max-width: 600px;
    padding-bottom: 20px;
}

.sourceContainer {
    align-self: end;
    justify-self: end;
    padding-bottom: 10px;
}
.articleSource {
    text-align: right;
    margin-right: 20px;
}*/




/* smartphone */
@media only screen and (max-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation : portrait){ 
    #news {
        background: url("images/space4_darker1_w1200_h1800.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }

    .options {
        grid-template-columns: auto 30% auto;
        grid-template-rows: 50px;
        grid-gap: 15px;
        align-content: center;
        width: 95%;
        height: 80px;
        top: 0;
        left: 5%;
    }

    .articles {
        margin-top: 80px;
    }

    .newsArticle {
        grid-gap: 10px;
        align-content: center;
        grid-template-rows: auto;
        width: 95%;
        left: 5%;
        padding: 20px 15px;
        margin: 30px 0;
    }

    .imageContainer {
        grid-column: 1;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 1;
        align-self: start;
        justify-self: center;
        overflow: hidden;
        height: 50px;
    }
    .articleImage {
        max-width: 200px;
        width: 100%;
        -ms-transform: translate(0, -25%);
        transform: translate(0, -25%);
    }
    
    .headerContainer {
        grid-column: 1 / span 2;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 2;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
    }
    .articleTitle {
        padding-top: 10px;
    }
    
    .dateContainer {
        grid-column: 2;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 1;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
    }
    .publicationDate {
        text-align: right;
    }
    
    .textContainer {
        grid-column: 1 / span 2;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 3;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
    }
    .summary {
        padding-top: 5px;
        padding-bottom: 30px;
    }
    
    .sourceContainer {
        grid-column: 1 / span 2;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 4;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: end;
        justify-self: end;
        padding-bottom: 10px;
    }
    .articleSource {
        text-align: right;
        width: 100%;

    }
}



/* tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #news {
        background: url("images/space4_darker1_w1200_h1800.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }

    .options {
        grid-template-columns: auto 30% auto;
        grid-template-rows: 45px;
        grid-gap: 20px;
        align-content: center;
        width: 90%;
        height: 90px;
        top: 0;
        left: 5%;
    }

    .articles {
        margin-top: 90px;
    }

    .newsArticle {
        grid-gap: 10px;
        align-content: center;
        grid-template-rows: auto;
        width: 90%;
        left: 5%;
        padding: 20px;
        margin: 30px 0;
    }

    .imageContainer {
        grid-column: 1;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 2;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
        justify-self: center;
        overflow: hidden;
        max-height: 175px;
    }
    .articleImage {
        max-width: 175px;
        width: 100%;
    }
    
    .headerContainer {
        grid-column: 1 / span 2;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 1;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
    }
    .articleTitle {
        padding-bottom: 5px;
    }
    
    .dateContainer {
        grid-column: 3;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 1;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
    }
    .publicationDate {
        text-align: right;
    }
    
    .textContainer {
        grid-column: 2 / span 2;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 2;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
    }
    .summary {
        max-width: 600px;
        padding-bottom: 20px;
        text-align: justify;
    }
    
    .sourceContainer {
        grid-column: 1 / span 3;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 3;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: end;
        justify-self: end;
        padding-bottom: 10px;
    }
    .articleSource {
        text-align: right;
    }
}



/* small desktop */
@media only screen and (min-device-width : 1025px) and (max-device-width : 1439px) {
    #news {
        background: url("images/space4_darker1_w1200_h1800.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }

    .options {
        grid-template-columns: 80px 80px 80px auto;
        grid-template-rows: 30px;
        grid-gap: 15px;
        align-content: center;
        width: 90%;
        height: 60px;
        top: 0;
        left: 5%;
    }

    .articles {
        margin-top: 60px;
    }

    .newsArticle {
        grid-gap: 20px;
        align-content: center;
        grid-template-columns: 19% auto auto auto auto;
        grid-template-rows: auto;
        width: 90%;
        left: 5%;
        max-height: 250px;
        padding: 20px;
        margin: 30px 0;
    }

    .imageContainer {
        grid-column: 1;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 1 / span 2;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
        justify-self: center;
        overflow: hidden;
        max-height: 200px;
    }
    .articleImage {
        max-width: 200px;
        width: 100%;
    }
    
    .headerContainer {
        grid-column: 2 / span 3;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 1;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
    }
    
    .dateContainer {
        grid-column: 5;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 1;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
    }
    .publicationDate {
        text-align: right;
    }
    
    .textContainer {
        grid-column: 2 / span 3;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 2;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
    }
    
    .sourceContainer {
        grid-column: 5;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 2;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: end;
        justify-self: end;
    }
    .articleSource {
        text-align: right;
    }
}



/* large desktop */
@media only screen and (min-device-width: 1440px) {
    #news {
        background: url("images/space4_darker1_w1200_h1800.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }

    .options {
        grid-template-columns: 120px 120px 120px auto;
        grid-template-rows: 25px;
        grid-gap: 20px;
        align-content: center;
        width: 90%;
        height: 60px;
        top: 0;
        left: 5%;
    }

    .articles {
        margin-top: 60px;
    }

    .newsArticle {
        grid-gap: 25px;
        align-content: center;
        grid-template-columns: 19% auto auto auto auto;
        grid-template-rows: 50px auto;
        width: 90%;
        left: 5%;
        padding: 20px;
        margin: 30px 0;
    }

    .imageContainer {
        grid-column: 1;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 1 / span 2;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
        justify-self: center;
        overflow: hidden;
        max-height: 200px;
    }
    .articleImage {
        max-width: 200px;
        width: 100%;
    }
    
    .headerContainer {
        grid-column: 2 / span 3;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 1;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
    }
    .articleTitle {
        font-size: 1.4em;
    }
    
    .dateContainer {
        grid-column: 5;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 1;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
    }
    .publicationDate {
        text-align: right;
    }
    
    .textContainer {
        grid-column: 2 / span 3;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 2;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: start;
    }
    
    .sourceContainer {
        grid-column: 5;                                 /* Deze cel start in de eerste kolom van het grid en is twee kolommen breed. */
        grid-row: 2;                                    /* Deze cel start in de eerste rij van het grid */
        align-self: end;
        justify-self: end;
    }
    .articleSource {
        text-align: right;
    }
}