::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    visibility: hidden;
}

::-webkit-scrollbar:hover, ::-webkit-scrollbar-track:hover, ::-webkit-scrollbar-thumb:hover {
    visibility: visible;
}
    
::-webkit-scrollbar-track {
    background: rgba(255,255,255,0);
}
  
::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,.5);
}
    
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,1); 
}